---
layout: default
---
<div class="article" id="about">
	<h3>About Icecast 2</h3>
	<p>Icecast is a streaming media (audio/video) server which currently supports
	Ogg (Vorbis and Theora), Opus, WebM and MP3 streams.<br/>
	It can be used to create an Internet radio station or a privately
	running jukebox and many things in between.
	It is very versatile in that new formats can be added
	relatively easily and supports open standards for communication and
	interaction.</p>
	<p>Icecast is distributed under the GNU GPL, version 2.</p>
</div>
<h2 id="latest-news">Latest News</h2>
{% for post in site.posts limit:2 %}
  <div class="article">
    <h3>{{ post.title }}</h3>
    {{ post.content }}
    <div class="aside">Posted <strong>{{ post.date | date: "%b %-d, %Y" }}</strong>{% if post.author %} by <strong>{{ post.author }}</strong>{% endif %} &mdash; <a href="{{ post.url }}">Permalink</a></div>
  </div>
{% endfor %}
<p><a href="{{ "/news" | prepend: site.baseurl }}">See all news</a></p>
