---
layout: post
title:  "More Load Test Report"
date:   2005-11-14
author: oddsock
---

We've done another round of load testing, this time going through a 
"large number of sources" test as well as a comparison test with Shoutcast.  

All our load testing reports can be found [here]({{ "/loadtest" | prepend: site.baseurl }}).
