---
layout: post
title:  "Load Test Report"
date:   2005-09-22
author: oddsock
---

We've done a load test of our soon-to-be released Icecast 2.3 to hopefully answer some
of the questions that have popped up recently about Icecast's ability to work in high
traffic situtations.  

This report can be found [here]({{ "/loadtest" | prepend: site.baseurl }}).