<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }}{% if page.title %} Docs &mdash; {{ page.title }}{% else %} Documentation{% endif %}</title>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen, print" />
</head>

  <body>

    <div class="header">
      <h1><a href="#" title="Home page">Icecast</a> <span>documentation</span></h1>
    </div>

    <div class="section">
      {% assign docs = site.pages | where:"product","Icecast" | sort:"version" | group_by:"version" | last %}
      <h2>{{ page.product }} {{ page.version }} Docs{% if page.title %} &mdash; {{ page.title }}{% endif %}</h2>
      {{ content }}
    </div>

    <div class="footer">
      <p>Support icecast development at <a href="http://icecast.org">icecast.org</a></p>
    </div>

  </body>
</html>