<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }}{% if page.title %} Docs &mdash; {{ page.title }}{% else %} Documentation{% endif %}</title>
	{% include head.html %}
</head>

  <body>

    {% include header.html %}

    <div class="section">
      {% assign docs = site.pages | where:"product","Icecast" | sort:"version" | group_by:"version" | last %}
      <h2>{{ page.product }} {{ page.version }} Docs{% if page.title %} &mdash; {{ page.title }}{% endif %}</h2>
      {% if (docs.name != page.version) and (page.product == "Icecast") %}
      <div class="aside error">
        <strong>Please note:</strong> This doc is for an older Icecast version, you can find the latest doc
        <a href="{{ "/docs/icecast-latest" | prepend: site.baseurl }}">here</a>.
      </div>
      {% endif %}
      {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>